@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@import url('http://fonts.cdnfonts.com/css/pokemon-solid');


body {
    background-image: url("https://i.imgur.com/l7VHiQD.png");
    display: flex;
    align-items: flex-end;
}

.container {
    position: absolute;
    display: flex;
    top: 50%;
    left:50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 50vh;
    vertical-align: middle;
    transform: translate(-50%, -50%);

}

.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    height:100%;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 10px;
}

.title p {
    position: relative;
    font-weight: 700;
    font-size: 2em;
    opacity: 0;
}
.poke-info {  
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    display: flex;
    justify-content: space-around;
    width: 80%;
    justify-content: space-between;

}

.bloc-info{
    width: 10vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.pokemon img{
    background-color: green;
    position: relative;
    width: 100%;
    height: 100%;
}

.type button{
    position: relative;
    margin: 2vh;
    padding: 1VH;
    display: flex;
    flex-wrap: wrap;
    width: 5vw;
    max-height: 3vh;
    border-radius: 999px;
    color: #fff;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius:10px;
    align-items:center;
    justify-content:center;
    text-align: center;
    text-transform:uppercase;
    font-size:1vw;
    font-weight:bold;
    text-decoration: none;
    animation:slidebg 3s linear infinite;
}

.rainbow-button:after {
  background-color:#191919;
  display:flex;
  align-items:center;
  justify-content:center;
}

@keyframes slidebg {
    to {
      background-position:310px;
    }
  }

.info {
    background-color: whitesmoke;
    border-radius: 30px;
    margin-left: 5vh;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    flex-direction: column;
}

.progress{
    background-color: #F1F1F1;
    border-radius: 16px;
    width: 90%!important;
    margin: auto;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.progress span {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0px;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  z-index: 2;
}

.progressbar {
    display: table;
    clear: both;
    height: 24px;
    padding: 0.01em 16px;
    border-radius: 16px;
    opacity: 0;
}


@keyframes grow-1{
  from{
    opacity: 0.5;
    width: 0%;
  }
  
  to{
    opacity: 1;
    width: 45%;
  }
}

@keyframes grow-2{
  from{
    opacity: 0.5;
    width: 0%;
  }
  
  to{
    opacity: 1;
    width: 35%;
  }
}

@keyframes grow-3{
  from{
    opacity: 0.5;
    width: 0%;
  }
  
  to{
    opacity: 1;
    width: 55%;
  }
}

.bar-pv{
  background-color: lightgreen;
  animation: grow-1 1.2s ease-in-out 1s forwards;
}

.bar-att{
  background-color: lightcoral;
  animation: grow-2 1.2s ease-in-out 1.2s forwards;
}

.bar-def {
  background-color: lightblue;
  animation: grow-3 1.2s ease-in-out 1.4s forwards;
}

.pokemon-info{
  padding: 0 10px;
  text-align: center;
}

.pokemon-info p{
  font-weight: 200;
  font-style: italic;
  position: relative;
  opacity: 0;
  animation: 500ms ease-in-out 900ms fromRight forwards;
}